html{
  --shape-1: coral;
  --shape-2: coral;
  --shape-3: coral;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}
body, body * {
  cursor: none;
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: coral;
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: var(--shape-1);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape.shape-2 {
  background: var(--shape-2);
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape.shape-3 {
  background: var(--shape-3);
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff;
  mix-blend-mode: screen;
}

h1 {
  font-size: 80px;
  color: #000;
  margin: 0;
  text-align: center;
}
@media (min-width: 419px) {
  h1 {
    font-size: 9em;

  }
}
@media (min-width: 1430px) {
  h1 {
    font-size: 180px;
  }
}

.cursor {
  position: fixed;
  background: gold;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::-moz-selection {
  color: #fff;
  background: #2128bd;
}

::selection {
  color: #fff;
  background: #2128bd;
}