<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Calculadora Simple</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1 class="inicio">🚀 Api de Calculadora Simple con FastApi 🚀</h1>
<p></p>
<h2 class="inicio">Documentación</h2>
<p>Para acceder a la documentación de la api ingrese en <a href="localhost:8000/docs">localhost:8000/docs</a></p>
<h2 class="inicio">Repositorio en Github</h2>
<p>Para ver el código fuente acceda al <a href="https://github.com/EduardoProfe666/fastapi-calculadora">siguiente enlace</a></p>
<footer><a  class="foo" href="https://github.com/EduardoProfe666">EduardoProfe666🎩</a></footer>
</body>
</html>